.career {
  padding-top: 80px;
  padding-bottom: 60px;
  
  @include lg {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  &__content {
    padding-bottom: 40px;

    @include md {
      display: flex;
      justify-content: space-between;
    }
    @include lg {
      padding-bottom: 50px;
    }
  }

  &__content-text {
    max-width: 690px;
  }

  &__title {
    font-weight: 1000;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include lg {
      font-size: 52px;
      margin-bottom: 40px;
    }
  }

  &__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    color: $blackText;
    margin-bottom: 24px;

    @include md {
      margin-bottom: 0px;
    }
    @include lg {
      font-size: 20px;
    }
  }

  &__image-list {
    align-items: center;
  }

  &__image-slide {
    @include md {
      // &:nth-child(even) {
      //   width: calc(100% - 68% - 40px) !important;
      // }
      &_even {
        width: calc(100% - 68% - 40px) !important;
      }
      // &:nth-child(odd) {
      //   width: 34% !important;
      // }
      &_odd {
        width: 34% !important;
      }
    }

    @include lg {
      // &:nth-child(even) {
      //   width: calc(100% - 68% - 52px) !important;
      // }
      &_even {
        width: calc(100% - 68% - 52px) !important;
      }
    }

    @include xl {
      // &:nth-child(even) {
      //   width: calc(100% - 68% - 60px) !important;
      // }
      &_even {
        width: calc(100% - 68% - 60px) !important;
      }
    }
  }

  &__image {
    border-radius: 16px;
  }
}
