html {
  position: relative;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Mulish', Arial, sans-serif;
  font-weight: 300;
  background-color: $primaryColor;
  color: $whiteText;
  line-height: 1.4;
  font-size: 16px;

  @include lg {
    font-size: 20px;
  }
}
img, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, p, figure, fieldset {
  margin: 0;
}
h1, h2, h3 {
  font-weight: 1000;
}
iframe {
  border: none;
}

// Скрытые от пользователя элементы
.visual-hidden {
  position: fixed;
  transform: scale(0);
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // z-index: 8;

  @include xxl {
    max-width: 2560px;
    // margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// У .container внутренние отступы только боковые
// Отступы внутренние сверху и снизу задаются у section
.container {
  max-width: 1380px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;

  @include sm {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include md {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include xl {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include xxl {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 2560px;
    margin: 0 auto; 
  }
}
.link-main {
  display: inline-flex;
  align-items: center;
  padding: 11px 20px;
  gap: 4px;
  font-weight: 1000;
  font-size: 16px;
  line-height: 1;
  color: $orangeText;
  background-color: #ffffff;
  border-radius: 80px;
  width: 155px;
  height: 36px;
  transition: all 0.3s ease;
  border: none;
  outline: none;

  &:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    // background: url('../img/arrow_right.svg') center/contain no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.53317 10.8667C5.41095 10.7445 5.34695 10.5889 5.34117 10.4C5.33539 10.2111 5.39384 10.0556 5.51651 9.93335L8.78317 6.66668H1.33317C1.14428 6.66668 0.98584 6.60268 0.85784 6.47468C0.72984 6.34668 0.666062 6.18846 0.666506 6.00001C0.666506 5.81112 0.730506 5.65268 0.858506 5.52468C0.986506 5.39668 1.14473 5.3329 1.33317 5.33335H8.78317L5.51651 2.06668C5.39428 1.94446 5.33584 1.7889 5.34117 1.60001C5.34651 1.41112 5.41051 1.25557 5.53317 1.13335C5.65539 1.01112 5.81095 0.950012 5.99984 0.950012C6.18873 0.950012 6.34428 1.01112 6.46651 1.13335L10.8665 5.53335C10.9332 5.5889 10.9805 5.65846 11.0085 5.74201C11.0365 5.82557 11.0503 5.91157 11.0498 6.00001C11.0498 6.0889 11.0361 6.17223 11.0085 6.25001C10.9809 6.32779 10.9336 6.40001 10.8665 6.46668L6.46651 10.8667C6.34428 10.9889 6.18873 11.05 5.99984 11.05C5.81095 11.05 5.65539 10.9889 5.53317 10.8667Z' fill='%23FFAA05'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    color: $blackText;
  }

  &:focus:not(:hover) {
    border: 2px solid black;
  }

  // &:hover:after {
  //   fill: $blackText;
  // }

  @include lg {
    font-size: 20px;
    width: 209px;
    height: 50px;
    gap: 10px;

    &:hover:after {
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.53317 10.8667C5.41095 10.7445 5.34695 10.5889 5.34117 10.4C5.33539 10.2111 5.39384 10.0556 5.51651 9.93335L8.78317 6.66668H1.33317C1.14428 6.66668 0.98584 6.60268 0.85784 6.47468C0.72984 6.34668 0.666062 6.18846 0.666506 6.00001C0.666506 5.81112 0.730506 5.65268 0.858506 5.52468C0.986506 5.39668 1.14473 5.3329 1.33317 5.33335H8.78317L5.51651 2.06668C5.39428 1.94446 5.33584 1.7889 5.34117 1.60001C5.34651 1.41112 5.41051 1.25557 5.53317 1.13335C5.65539 1.01112 5.81095 0.950012 5.99984 0.950012C6.18873 0.950012 6.34428 1.01112 6.46651 1.13335L10.8665 5.53335C10.9332 5.5889 10.9805 5.65846 11.0085 5.74201C11.0365 5.82557 11.0503 5.91157 11.0498 6.00001C11.0498 6.0889 11.0361 6.17223 11.0085 6.25001C10.9809 6.32779 10.9336 6.40001 10.8665 6.46668L6.46651 10.8667C6.34428 10.9889 6.18873 11.05 5.99984 11.05C5.81095 11.05 5.65539 10.9889 5.53317 10.8667Z' fill='%23000000'/%3E%3C/svg%3E%0A");
      // background-position: center;
      // background-repeat: no-repeat;
    }
  }
}

.arrow-top {
  width: 36px;
  height: 36px;
  right: 16px;
  bottom: 30px;

  @include sm {
    right: 30px;
    bottom: 30px;
  }

  @include lg {
    bottom: 100px;
    width: 50px;
    height: 50px;
  }

  &__svg {
    width: 12px;
    height: 12px;

    @include lg {
      width: 16px;
      height: 16px;
    }
  }
}